{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{product.image.url}}"  class="card-img-top" alt='Not LOaded'>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text"> {{product.price}} </p>
                    {% comment %} <a href="" class="btn btn-primary">Show</a> {% endcomment %}
                    <a href= {% url "home" %} class="btn btn-dark">Return to Products</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text"> {{product.price}} $</p>
                    <p>{% lorem 1 b random %}</P>
                    <p> IN STock : {{product.inStock}} </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}